<!doctype html>
<html lang="en-GB">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark light">
    {% block head %}
    {% endblock %}
    <title>Gotchi</title>
    <meta name="description" content="Gotchi - by Foxtrt.com">
    <link rel="stylesheet" href="https://cdn.foxtrt.com/data/css/pico.min.css">
    <link rel="stylesheet" href="https://cdn.foxtrt.com/data/css/foxtrt.pico.css">
</head>
<body>
  <main class="container" style="height: 100vh;">
    <header>
      <nav>
        <a style="text-decoration: none;" href="{{ url_for('home.index') }}"><h1>Gotchi</h1></a>
        <ul>
          {% if g.user %}
          <li>
            <details class="dropdown">
                <summary role="button" class="outline secondary">
                  {{ g.user['username'] }}
                </summary>
                <ul style="width: fit-content;" dir="rtl">
                  <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                  <li><a href="{{ url_for('auth.delete_account') }}" style="color: #AF291D;">Delete Account</a></li>
                </ul>
            </details>
          </li>
          {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a>
            <li><a href="{{ url_for('auth.login') }}">Log In</a>
          {% endif %}
        </ul>
      </nav>
      <h3>{% block title %}{% endblock %}</h3>
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash" style="color: #AF291D;">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </main>
  <footer class="container" style="position: relative; height: 72px; margin-top: -72px;">
    <p><small>Copyright © 2026 <a href="https://foxtrt.com">Foxtrt.com</a></small></p>
  </footer>
</body>